.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 40px 11px;
    border-radius: 1000px;
    background-color: $color-primary;
    color: $color-background;
    border: 2px solid $color-primary;
    box-sizing: border-box;
    transition-duration: $transition-factor * 1s;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;

    &__icon {
        fill: $color-background;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        transition-duration: $transition-factor * 1s;
    }

    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
    }

    &:active {
        @include water-drop-effect;
    }

    &--borderless {
        border: none;
        background-color: transparent;
        color: $color-secondary;

        .button__icon {
            fill: $color-secondary;
        }

        &:hover {
            box-shadow: none;
            background-color: rgba($color-primary, 0.1);
        }
    }

    &--little {
        padding: 11px 18px 9px;
        border-radius: 5px;
    }

    &--disabled {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed;
        }
    }
}